.simple-tabs ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.simple-tabs ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.simple-tabs ul.tabs li.current {
    background: #ededed;
    color: #222;
}

.simple-tabs .tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.simple-tabs .tab-content.current {
    display: inherit;
}