.alist{
    border: 1px solid gray;
    overflow-y: auto;
    overflow-x: hidden;
    max-height:200px;
    position: absolute;
    top:35px;
    border-radius: 4px;
    z-index: 1000;
    background-color: #ffffff;
}
.alist ul{
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 0;
}
.alist ul li{
    padding:5px;
    cursor: default;
}
.alist ul li.selected{
    background-color: #6FCFE3;
    color:white;
}
*[unselectable="on"], .unselectable {-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}

.acpl{

}

