@charset "utf-8";
/*
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- carousel ----- */
.carousel {
    position: relative;
    height: 82px;    
    background: white;
    font-family: Tahoma, sans-serif;
}
.carousel .next_control, .carousel .previous_control {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    width: 14px;
    height: 20px;
    overflow: hidden;
    margin-top: -10px;
    outline: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    -moz-user-select: none;
}
.carousel .next_control {
    left: -14px;
    margin-left: 100%;
}
.carousel_viewbox {
    position: relative;
    width: 550px;
    height: 82px;
    overflow: hidden;
    margin: auto;
}
.carousel_viewbox ul {
    position: absolute;
    top: 3px;
    left: -104px;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel_viewbox ul li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 98px;
    margin: 0;
    padding: 0 3px;
}
.carousel_image {
    position: relative;
    width: 92px;
    padding: 3px;
    background: #fff;
}
.carousel .active .carousel_image {
    background: #f00;
}
.carousel_image img {
    display: block;
    border: 1px solid silver;
}
.carousel_image .play_icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -16px 0 0 -16px;
}
.carousel .viewbox a:link, .carousel .viewbox a:visited, .carousel .viewbox a:hover, .carousel .viewbox a:active {
    text-decoration: none;
    outline: 0;
}
/* ----- /carousel ----- */
