.e-pane-content {
    font-family: Tahoma, sans-serif;
}
/* ----- forms ----- */
.e-pane-content form {
    margin: 0 0 1em 0;
    font-family: Tahoma, sans-serif;
}
.e-pane-content fieldset {
    padding: 12px;
    border: 1px solid gray;
}
.e-pane-content input, .e-pane-content textarea, .e-pane-content select, .e-pane-content button {
    height: auto;
    margin: 0;
    padding: 6px;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.e-pane-content button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.e-pane-content button:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}
.e-pane-content div.control > input:focus,
.e-pane-content div.control > textarea:focus,
.e-pane-content div.control > select:focus,
.e-pane-content div.control > input:hover,
.e-pane-content div.control > textarea:hover,
.e-pane-content div.control > select:hover,
.e-pane-content .required input:focus,
.e-pane-content .required textarea:focus,
.e-pane-content .required select:focus,
.e-pane-content .required input:hover,
.e-pane-content .required textarea:hover,
.e-pane-content .required select:hover {
    border-color: #6FCFE3;
    background-color: #FaFFFF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6FCFE3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6FCFE3;
}
.e-pane-content textarea {
    vertical-align: top;
}
.e-pane-content select {
    min-height: 24px;
    padding: 2px;
}
.e-pane-content select option {
    background: white;
}
.e-pane-content optgroup {
    color: black;
    background: white;
}
.e-pane-content optgroup option {
    padding-left: 22px;
}
.e-pane-content .required input,
.e-pane-content .required select,
.e-pane-content .required textarea {
    background: #f0fff0;
    border-color: #7DC27D;
}
.e-pane-b-toolbar input[type="text"],
.e-pane-b-toolbar input[type="password"],
.e-pane-b-toolbar input[type="email"],
.e-pane-b-toolbar input[type="phone"],
.e-pane-b-toolbar select,
.e-pane-b-toolbar textarea,
.filter input[type="text"],
.filter input[type="password"],
.filter input[type="email"],
.filter input[type="phone"],
.filter select,
.filter textarea {
    border: 0;
}

.e-pane-content .field {
    float: left;
    width: 100%;
    padding: 10px 0;
}
.e-pane-content .field .name {
    display: block;
    float: left;
    vertical-align: middle;
    width: 30%;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}
.e-pane-content .field .control {
    display: block;
    float: left;
    vertical-align: middle;
    width: 68%;
    margin-left: -4px;
}
.e-pane-content .field.readonly {
    font-weight: bold;
    color: gray;
    padding: 0;
}
.e-pane-content .field .control textarea,
.e-pane-content .field .control input[type="text"]
.e-pane-content .field .control input[type="password"],
.e-pane-content .field .control input[type="email"],
.e-pane-content .field .control input[type="tel"],
.e-pane-content .field .control input[type="color"],
.e-pane-content .field .control select {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}
.e-pane-content .field .control input[type="color"] {
    height:30px;
    padding:1px;
}
.e-pane-content .field .control select {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 30px;
}
.e-pane-content .field .control.type_code,
.e-pane-content .field .control.type_htmlblock,
.e-pane-content .field .control.type_file {
    display: block;
    width: 98%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 0;
}
.e-pane-content .field.file_upload .name,
.e-pane-content .field.editor .name {
    width: 100%;
}

.e-pane-content .field .control  .with_append {
    display: table;
    width: 100%;
    position: relative;
}
div.with_append.focus_block {
    border-color: #6FCFE3;
    background-color: #FaFFFF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6FCFE3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6FCFE3;
}
div.with_append.focus_block.with_link,
div.with_append.focus_block input {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    margin-bottom: 0;
}
div.with_append.focus_block input,
div.with_append.focus_block select,
div.with_append.focus_block button,
div.with_append.focus_block input[type='button'] {
    margin-bottom: 0;
    border-color: #6FCFE3;
}
.e-pane-content .field .control.type_file .with_append {
    width: 100%;
}
.e-pane-content .field .control.type_file .lnk_clear {
    margin-left: 15px;
    color: #428bca;
}
.e-pane-content .field .control  .with_append input,
.e-pane-content .field .control  .with_append select,
.e-pane-content .field .control  .with_append .read {
    display: table-cell;
    width: 100%;
    margin-top: 0;
    border-right-width: 0;
    border-radius: 4px 0 0 4px;
}
.e-pane-content .field .control  .with_append.with_link select {
    border-radius: 4px;
    border-right-width: 1px;
}
.e-pane-content .field .control  .with_append .acpl {
    width: 100%;
    height: 32px;
}
.e-pane-content .field .control  .with_append button {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.e-pane-content .field .control  .appended_block {
    vertical-align: top;
    display: table-cell;
    width: 1%;
}
.e-pane-content .field .control  .appended_block button,
.e-pane-content .field .control  .appended_block input[type="button"] {
    border-radius: 0 4px 4px 0;
    background-color: #dedede;
    height: 18px;
    outline: none;
}
.e-pane-content .field.file_upload .control.type_file  .appended_block button,
.e-pane-content .field.file_upload .control.type_file  .appended_block input[type="button"] {
    height: 16px;
}
.e-pane-content .field .control  .appended_block.appended_inner button,
.e-pane-content .field .control  .appended_block.appended_inner input[type="button"] {
    border-radius: 0;
    background-color: #eee;
}
.e-pane-content .field.required .control  .appended_block button,
.e-pane-content .field.required .control  .appended_block input[type="button"] {
    border-color: #7DC27D;
}
.e-pane-content .field.required .control  .appended_block button:focus,
.e-pane-content .field.required .control  .appended_block input[type="button"]:focus,
.e-pane-content .field.required .control  .appended_block button:hover,
.e-pane-content .field.required .control  .appended_block input[type="button"]:hover {
    outline: none;
    background-color: #f0fff0;
}
.e-pane-content .field .control .with_link  .appended_block,
.e-pane-content .field .control .with_link  .appended_block button,
.e-pane-content .field .control .with_link  .appended_block button:hover,
.e-pane-content .field .control .with_link  .appended_block button:focus {
    border: 0;
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    color: #428bca;
}
.e-pane-content .field .control .with_link  .appended_block {
    padding-left: 5px;
}
.e-pane-content .field .control  .with_append .read {
    border: 1px solid #ccc;
    border-right: 0;
    line-height: 30px;
    padding-left: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.datepicker .time input,
.datepicker .time input:hover,
.datepicker .time input:focus {
    border: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    transition: none;
    -webkit-transition: none;
}
/* --- media queries --- */
@media screen and (max-width: 570px) {
    .e-pane-content .field .control,
    .e-pane-content .field .name {
        width: 98%;
    }
}
/* ----- /forms ----- */