/*
	Minimal Theme
	Author: Leon Radley (github.com/leon)
	
	Selected: #95adb8
	Hover: #c6d2d8
	Current: #f60
	Apply: #82a7b8
*/
.datepicker {
	position: absolute;
	width: 220px;
	height: 200px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 11px;
    font-family: Tahoma, sans-serif;
	line-height: normal;
	z-index: 3003;
}
	.datepicker.column_2 {
		width: 440px;
	}
	.datepicker.column_3 {
		width: 660px;
	}
	.datepicker.column_4 {
		width: 880px;
	}
	.datepicker.column_5 {
		width: 1100px;
	}
	.datepicker th,
	.datepicker td {
		margin: 0;
		padding: 0;
	}
	.datepicker .selected {
		background: #95adb8 !important;
		color: #fff !important;
	}

	.datepicker .unavailable,
	.datepicker .day.unavailable:hover {
		background: #edd !important;
		color: #b88 !important;
		cursor: default !important;
	}

	.datepicker td.day:hover,
	.datepicker .month:hover,
	.datepicker .year:hover {
		background: #c6d2d8 !important;
		color: #222 !important;
	}

/*
	Header
*/
.datepicker .header {
	position: relative;
	background: #333;
	height: 25px;
    min-height: inherit;
}
	.datepicker .header .title {
		//margin: 0 50px;
		text-align: center;
		line-height: 25px;
	}
		.datepicker .header .titleText {
			color: #fff;
			font-weight: bold;
		}
		.datepicker .header .column {
			float: left;
			width: 220px;
		}
	.datepicker .header .next,
	.datepicker .header .previous,
	.datepicker .header .closeButton {
		position: absolute;
		top: 0;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
		.datepicker .header .previous {
			left: 0;
		}
		.datepicker .header .next {
			right: 25px;
		}
		.datepicker .header .closeButton {
			right: 0;
		}

/*
	Body
*/
.datepicker .body {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 175px;
	overflow: hidden;
}
	.datepicker .body .column {
		float: left;
		width: 219px;
		height: 100%;
		border-left: 1px solid #555;
	}
		.datepicker .body .column.column_1 {
			border-left: 1px solid transparent;
		}

/*
	Days
*/
.datepicker .days {
	width: 100%;
	border: 0;
	border-spacing: 0;
}
	.datepicker .days .title {
		font-weight: bold;
		color: #444;
		cursor: default;
		width: 14.2857142857143%; /* 100/7 */
	}
		.datepicker .days.weeknumbers .title {
			width: 12.5%;
		}
	.datepicker .days .otherMonth {
		background: #eee;
		color: #aaa;
	}
	.datepicker .day {
		cursor: pointer;
		text-align: center;
		overflow: hidden;
		line-height: 25px;
	}
		.datepicker .today {
			color: #f60;
			font-weight: bold;
		}
		.datepicker .day0 {
			margin-right: 0;
		}
		.datepicker .days .week5 .day {
			margin-bottom: 0;
		}

/*
	Months
*/
.datepicker .months {
	height: 100%;
    width: 100%;
}
	.datepicker .month {
		float: left;
		display: inline;
		width: 33.33333333%;
		line-height: 44px;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
		overflow: hidden;
	}

/*
	Years
*/
.datepicker .years {
	height: 100%;
    width: 100%;
}
	.datepicker .year {
		float: left;
		display: inline;
		width: 25%;
		line-height: 35px;
		cursor: pointer;
		text-align: center;
		overflow: hidden;
	}

/*
	Time
*/
.datepicker .time {
	width: 100%;
	height: 100%;
	background: #fff;
}
	.datepicker .time .hour,
	.datepicker .time .separator,
	.datepicker .time .minutes {
		position: absolute;
		top: 50px;
		width: 50px;
		border: 1px dashed #ddd;
		font-size: 32px;
		text-align: center;
	}
	.datepicker .time .hour {
		left: 40px;
	}
	.datepicker .time .separator {
		background: transparent;
		border: 0px;
		width: 10px;
		left: 100px;
	}

	.datepicker .time .minutes {
		left: 120px;
	}
	.datepicker .time .ok {
		position: absolute;
		top: 105px;
		width: 136px;
		left: 40px;
		font-size: 20px;
	}

/*
	Footer
*/
.datepicker.footer {
	height: 260px;
}
	.datepicker .footer {
		width: 100%;
		height: 60px;
		overflow: hidden;
	}
		.datepicker .footer input,
		.datepicker .footer button {
			float: left;
			display: block;
			width: 50%;
			height: 30px;
			line-height: 30px;
			margin: 0;
			padding: 8px 0;
			border: 0;
			background-color: #fff;
			text-align: center;
		}
			.datepicker .footer input:focus {
				outline: 0;
			}
		.datepicker .footer span {
			display: none;
		}
		.datepicker .footer input {
			height: 14px;
		}
		.datepicker .footer button {
			height: 30px;
			line-height: 30px;
			padding: 0;
			border-top: 1px solid #eee;
			cursor: pointer;
		}
			.datepicker .footer button:hover {
				background: #c6d2d8;
			}
		.datepicker .footer .apply {
			background-color: #95adb8;
			color: #fff;
			font-weight: bold;
		}
			.datepicker .footer .apply:hover {
				background-color: #82a7b8;
			}
