img {
    border: 0;
}

/* дерево подразделов в боковой панели */
.e-divtree-panel {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность задавать внутри блока отступы при 100% ширине и высоте блока.
        В IE6-7 для html отступ не добавляется к высоте, поэтому для них ничего отдельно делать не нужно. 
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */
    height: 100%;
    overflow: hidden;
    padding: 63px 10px 12px 10px;
    border: 0; 
    background: #eee;
    font-family: Tahoma, sans-serif;
}
.e-divtree-panel body,
.e-divtree-panel .e-singlemode-layout {
    height: 100%;
    padding: 0;
    background: #fff;
    border: 1px solid #aaaaaa;
    overflow: visible;
}
.e-divtree-panel .e-grid-form {
    position: relative;   
    height: 100%;
}
.e-divtree-wrapper {
    height: 100%;
}
.e-divtree-main {
    height: 100%;
    overflow: auto;
    padding: 0 0 0 4px;
    font: 12px Tahoma, sans-serif;
}
.treeview a.final { 
    font-style: italic;
}
.treeview a.current, .treeview li.selected li a.current { 
    font-weight: bold;
    color: green;
}
	
/* тулбар дерева подразделов в боковой панели */
.e-divtree-panel .e-divtree-toolbar {
    position: absolute;
    top: -30px;
    left: -1px;
    z-index: 1;
    width: 100%;
    margin: 0 !important;
    padding: 2px 0 !important;
    border-radius: 0;
}
.e-divtree-panel .e-divtree-toolbar li.icon {
    margin: 0 2px !important;
}
.e-divtree-panel .e-divtree-toolbar li.separator {
    height: 16px !important;
}

/* дерево подразделов в модальном окне */
.e-divtree-select {
	padding: 1px 0;
    font: 12px Tahoma, sans-serif;
}
