.errors {
    border: thin outset;
    /*border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;*/
    background: Menu;
    margin-bottom: 1em;
    padding: 1px;
    width: 400px;
    font-family: Tahoma, sans-serif;
}

.errors h3 {
    background: red;
    color: white;
    font: bold 10px tahoma;
    padding: 3px;
    padding-left: 5px;
    margin: 0px;
}

.error_item ul {
    margin: 0px;
    padding: 10px 10px 10px 30px;
}
.error_item pre {
    width: 100%;
}
