@import url("controls.css");

form .invalid {
    border-style: solid;
    border-color: #931313;
    font-family: Tahoma, sans-serif;
}

form div.error {
    padding: 0.5em;
    color: #931313;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
}

form .field {
    clear: both;
    margin: 12px 0 0 10px;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
}
form .field button {
    font-size: 13px;
}

form .field .icon_min_max {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 13px;
    height: 9px;
}
form .field.min .icon_min_max {
    background: url(../images/asc.gif) -5px -2px no-repeat;
}
form .field.max .icon_min_max {
    background: url(../images/desc.gif) -5px -2px no-repeat;
}
form .field.min .richEditor,
form .field.min textarea,
form .field.min div.CodeMirror-scroll{
    height: 30px;
}

form input, form textarea, form select {
    margin: 1px 0 0;
    padding: 6px;
    font-size: 13px;
	width: 100%;
	height:auto;
}
form input[type="file"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
form input[readonly]{
    border-color: #f0f0f0;
    color: gray;
}
form select{
	height:auto;
}
form select[multiple]{
	height:auto;
}
form input.file{
	width:230px;
}
form input.checkbox {
	width:auto;
	border: none;
}
form textarea {
	/*width: 650px;*/
	height: 200px;
}

form .half {
    height: 100px !important;
}
form .quarter {
    height: 30px !important;
}
/*form select {*/
	/*width: 250px;*/
/*}*/

/*form .inp_datetime{*/
    /*width:90px;*/
/*}*/
/*form .inp_date{*/
    /*width:90px;*/
/*}*/
.table_data {
	padding:10px 10px 0px 10px;
}
.table_data table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #aaaaaa;
    font-size: 13px;
}
.table_data table th {
    text-align: center;
}
.table_data table td {
    padding: 5px 0.5em;
    border: 1px solid #aaaaaa;
    text-align: center;
}
.table_data table .even td {
	background: #f4f4f4;
}
.table_data table thead td {
	background: #eee;
	font-weight: bold;
}
.table_data table tr.section_name {
    font-weight:bold;
    background-color:#E3E9FF;
}
.table_data table td.group_name, .table_data table .even td.group_name {
	background: #eee;
	text-align: left;
}
.table_data table td select {
    font-size: 13px;
	width: 250px;
	border: 1px solid gray;
}


form .field .control .preview {
	width:90%;
	overflow:auto;
	overflow-y:hidden;
    display: block;
}

form .field .control .preview img {
    display: block;
    margin-bottom: 15px;
}

form .richEditor {
    margin: 1px 0;
    width: 650px;
    height: 300px;
    border: 1px solid gray;
    background: #FFF;
}
form textarea.richEditor{
    font-family:Courier New;
    font-size: 12px;
    line-height:1em;
    border-color: red;
    line-height: 1.5em;
}

form div.richEditor ol, form div.richEditor ul { margin-left: 2em; }

.label_icon {
	vertical-align: baseline;
	margin: 0 5px;
}

.tool-tip{
	padding: 5px;
	background: #eee;
	border: 1px solid gray;
}
.tool-text{
    font-size: 13px ;
}
/*
.formContainer fieldset{
	border:1px solid #AAAAAA;
	padding:0px 5px 10px 0px;
	margin:15px;
}

.formContainer legend{
	margin-left:10px;
	font: 12px Tahoma, sans-serif;
}
*/
.smap_segment {
    font-size: 12px;
    color: gray;
}
.smap_segment .current_segment {
    font-size: 13px;
    color: #000;
}

@media screen and (max-width: 630px){
    form .field .control .preview img {
        width: 100%;
    }
}