a.f_reset,
a.f_reset:hover,
a.f_reset:active {
    font-family: Tahoma, sans-serif;
    color: #428bca;
    text-decoration: none;
}
div.grid table tr.highlighted td {  background: #ecf3f8; }
div.grid table tr.selected td {  background: #428bca; color: #fff; }

div.grid table tr .firstColumn { border-left: 0; }
.grid_toolbar {
    padding: 10px 0;
}
div.grid div.filter {
    background-color: #eee;
    margin: 0;
    padding: 10px;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
}
div.grid div.filter.active {
    background: #ecf3f8;
}

div.grid div.filter select, div.grid div.filter input, div.grid div.filter button {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #555;
	margin:0 5px 0 0;
    line-height: 20px;
    padding: 6px 8px;
}
div.grid div.filter select.f_condition {
    width: 150px;
}
div.grid div.filter button {
    padding: 5px 8px;
}
div.grid div.filter .f_query_container, div.grid div.filter .f_query_date_container{
    margin-right: 5px;
}

div.grid div.filter input {
    width: 145px;
    margin-right: 0;
    height: 32px;
}
div.grid div.filter input.small {
    width: 72px;
    margin-right:5px;
    /*vertical-align:middle;*/
}
div.grid .f_fields {
    width: 150px;
    height:auto;
    font-family: Tahoma, sans-serif;
}
div.grid .f_condition {
    height:auto;
    font-family: Tahoma, sans-serif;
}
div.grid .query {
    height:auto;
    font-family: Tahoma, sans-serif;
}
.f_datepicker {
    /*vertical-align:middle;*/
    margin-left:-23px;
    padding-right:5px;
    position:relative;
    top:3px;
    font-family: Tahoma, sans-serif;
}

.grid_breadcrumbs {
    margin: 10px 0;
    border-radius: 4px;
    padding: 15px;
    background: #eee;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
}
.grid_breadcrumbs a {
    color: #428bca;
}
.grid {
    background: #fcfcfc;
    color:black;
    font-family: Tahoma, sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
}

.gridHeadContainer {
    padding-right: 17px;

    /*border: 1px solid #EFEFEF;*/
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background: #efefef;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
}

.gridHeadContainer th {
    background: auto;
    cursor: default;
    font-family: Tahoma, sans-serif;
}

.gridHeadContainer th.asc {
    padding-right: 2em;
	background: url("../images/desc.gif") 100% 6px no-repeat;
}
.gridHeadContainer th.desc {    
    padding-right: 2em;
    background: url("../images/asc.gif") 100% 6px no-repeat;
}

.gridContainer {
    overflow: scroll;
    overflow-x: hidden;
    /*border: 1px solid #ddd;*/
    font-family: Tahoma, sans-serif;
}

table.gridTable, table.gridTable th, table.gridTable td {
    font-family: Tahoma, sans-serif;
}

table.gridTable {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    line-height: normal;
    *border-right: 17px solid #efefef;  /* исправляет выползание скролла за пределы контейнера в IE */
    *margin-right: -17px;
}
.gridTable th {
    margin: 0;
    padding: 8px;
    border: 0;
    border-right: 1px solid #ddd;
    background: #eeeeee;
    text-align: left;
    color:#000000;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.gridTable td {
    margin: 0;
    padding: 12px 8px;
    border: 0;
    border-right: 1px solid #ddd;
    cursor:default;
    font-family: Tahoma, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gridTable tr.even td {
    background: #F4F4F4;
}

.gridContainer table.gridTable {
    border-bottom: 1px solid #ddd;
}
.gridContainer table.gridTable a {
    color: #428bca;;
}
.gridContainer table.gridTable .selected a {
    color: #fefefe;
}
.thumb_container{
    position: relative;
}
.video_file {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: 7px 0 0 15px;
    background: url(../images/icons/subicon_video.gif) 0 0 no-repeat;
}
.properties table{
    padding: 0;
    margin: 0;
    border: none;
}
.properties table td{
    font-size: xx-small;
    border: none;
}
/* --- media queries --- */
@media screen and (max-width: 768px) {
    div.grid div.filter {
        display: none;
    }
}