.e-lm-widget, .e-lm-dummy-widget {
    padding-bottom: 10px;
}
.e-lm-widget .e-widget {
    position: relative;
    padding-bottom: 0;
}
.e-lm-widget .toolbar, .e-lm-dummy-widget .toolbar {
    margin-top: 0 !important;
    padding: 4px !important;
}
.e-lm-widget .toolbar {
    cursor: move;
    background-color: #eee;
    border-radius: 4px 4px 0 0;
}
.e-lm-static-widget .toolbar {
    cursor: default;
}
.e-widget .e-overlay {
    position: absolute;
}
.minimized {
    height: 80px;
    overflow: hidden;
}
.e-lm-strut{
    margin-bottom: 10px;
    border: 2px dashed gray;
}
.e-has-sideframe ul.block_management_toolbar{
    margin-left: 300px !important;
}
.e-widget.dynamic {
    height:130px;
    background: url("../images/default_90x68.png") no-repeat scroll top left transparent;
    padding-left: 82px;
    padding-top: 20px;
    color:black;
}