/*@import url("controls.css");*/
/*
    Этот файл содержит правила для размещения на странице блоков-контейнеров административной части.
    По сути эти блоки имитируют поведение frameset с тремя фреймами.
    Список блоков и их назначение: 
    1) .e-topframe - блок для размещение тулбаров energine (главного, тулбара режима редактирования страницы и тулбаров фидов)
    2) .e-mainframe - блок для вывода страницы сайта
    3) .e-sideframe - боковой блок для размещение структуры (дерева подразделов) сайта и тулбара для работы со структурой сайта    
*/
/* ----- base ---- */
html, body {    
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность задавать внутри блока отступы при 100% ширине и высоте блока.
        В IE6-7 для html отступ не добавляется к высоте, поэтому для них ничего отдельно делать не нужно. 
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */    
    overflow: hidden;
}
html.e-has-topframe1 {           
    padding-top: 31px; /* отступ для размещения верхней панели (с одним тулбаром), ограничение - фиксированная высота панели */
}
html.e-has-topframe2 {              
    padding-top: 62px; /* отступ для размещения верхней панели (с двумя тулбарами), ограничение - фиксированная высота панели */
}
html.e-has-topframe3 {              
    padding-top: 62px; /* отступ для размещения верхней панели (с тремя тулбарами), ограничение - фиксированная высота панели */
}
.e-has-sideframe body {             
    padding-left: 300px; /* этот отступ создает нужные две колонки, правая из которых фиксированная, а левая - растягивается на оставшуюся ширину окна */
}
/* ----- /base ---- */
         
/* ----- e-frames ----- */          
.e-topframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 31px;
    min-height: 31px;
    font-family: Tahoma, sans-serif;
    z-index: 3;
}
.e-has-topframe1 .e-topframe, .e-has-topframe2 .e-topframe, .e-has-topframe3 .e-topframe {
    display: block;
}

.e-mainframe {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;               
    overflow: auto;
    margin-right: -100%;
}

.e-sideframe {
    display: none;
    position: absolute;
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */
    top: 0;
    left: 0;
    float: left;
    width: 300px;
    height: 100%;
    background: #eee;
    font-family: Tahoma, sans-serif;
    z-index: 2;
}
.e-has-sideframe .e-sideframe {
    display: block;
}
.e-has-topframe3 .e-sideframe {

}
.e-sideframe-content {
    width: 297px;
    height: 100%;
    overflow: auto;
}
.e-sideframe-border {
    position: absolute;
    right: 0;
    top: 0; 
    width: 1px;
    height: 100%;        
    border-left: 1px solid #eeeedd;
    border-right: 1px solid #aaaaaa;
    background: #eeeedd;
}
.e-sideframe iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 0;
}      
/* ----- /e-frames ----- */

/* ----- page toolbars ----- */
.e-topframe {
    font-family: Tahoma, sans-serif;
}
ul.docked_toolbar {
    position: relative;
    z-index: 10;
    min-height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #AAA;
    color: black;
    border-radius: 0;
    background-color: #eee;
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cfd1cf));*/
    /*background-image: -moz-linear-gradient(top,#f5f5f5,#cfd1cf);*/
    /*background-image: -webkit-linear-gradient(top,#f5f5f5,#cfd1cf);*/
    /*background-image: -o-linear-gradient(top,#f5f5f5,#cfd1cf);*/
    /*background-image: -ms-linear-gradient(top,#f5f5f5,#cfd1cf);*/
    /*background-image: linear-gradient(top,#f5f5f5,#cfd1cf);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');*/
    z-index: 10;
}
.pagetb_logo {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 11;
    width: 46px;
    cursor: pointer;
    transition: transform 2s;
    -webkit-transition: -webkit-transform 2s;
}
.pagetb_logo:hover,
.pagetb_logo:active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
ul.docked_toolbar li {
    min-height: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 20px !important;
    border: 0;
    line-height: 30px;
    vertical-align: middle;
    background: transparent;
    border-radius: 4px;
}
ul.docked_toolbar li.icon {
    height: 30px;
    padding: 0 15px !important;
    background: 50% 50% no-repeat;
}
ul.docked_toolbar li.highlighted { background-color: #ecf3f8 !important; }
ul.docked_toolbar li.pressed {
    padding: 0 19px !important;
    min-height: 24px;
    height: 24px;
    line-height: 24px;
    margin: 2px 0 1px !important;
    border: 1px inset #fff;
    border-radius: 4px;
    /*-webkit-box-shadow: inset rgb(192, 192, 192) 0px 0px 6px 3px;*/
    /*-moz-box-shadow: inset rgb(192, 192, 192) 0px 0px 6px 3px;*/
    /*box-shadow: inset rgb(192, 192, 192) 0px 0px 6px 3px;*/
}
ul.docked_toolbar li.highlighted.add_btn { background-color: #5cb85c !important; }
ul.docked_toolbar li.highlighted.edit_btn { background-color: #f0ad4e !important; }
ul.docked_toolbar li.highlighted.delete_btn { background-color: #d9534f !important; }
ul.main_toolbar {
    padding-left: 30px !important;
}
.e-has-sideframe ul.wysiwyg_toolbar, .e-has-sideframe ul.feed_toolbar { 
    margin-left: 300px !important;
}
ul.docked_toolbar.block_management_toolbar,
ul.docked_toolbar.block_management_toolbar li {
    color: #000;
}
ul.docked_toolbar.block_management_toolbar li.save_btn {
    background: none;
}
ul.docked_toolbar.block_management_toolbar:hover,
ul.docked_toolbar.block_management_toolbar li:hover,
ul.docked_toolbar.block_management_toolbar:focus,
ul.docked_toolbar.block_management_toolbar li:focus,
ul.docked_toolbar.block_management_toolbar:active,
ul.docked_toolbar.block_management_toolbar li:active {
    color: #000;
}
ul.toolbar.docked_toolbar.block_management_toolbar li select {
    min-height: 20px;
    height: 20px;
    margin-top: -6px;
    padding: 0;
}
/* ----- /page toolbars ----- */
/* --- media queries --- */

@media screen and  (max-width: 1475px) {
    html.e-has-topframe2 {
        padding-top: 62px;
    }
    html.e-has-sideframe.e-has-topframe2 {
        padding-top: 92px;
    }
    .e-has-sideframe ul.toolbar.block_management_toolbar.docked_toolbar li.save_btn,
    ul.toolbar.block_management_toolbar.docked_toolbar li.save_btn,
    .e-has-sideframe ul.toolbar.block_management_toolbar.docked_toolbar li.reset_btn,
    ul.toolbar.block_management_toolbar.docked_toolbar li.reset_btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fafafa;
        min-height: 24px;
        height: 24px;
        margin: 2px !important;
        padding: 0 17px !important;
        line-height: 24px;
    }
    ul.toolbar.block_management_toolbar.docked_toolbar li.separator {
        display: none;
    }
    ul.toolbar.block_management_toolbar.docked_toolbar li.save_btn {
        clear: left;
    }

}
@media screen and  (max-width: 1200px) {
    html.e-has-sideframe.e-has-topframe2 {
        padding-top: 122px;
    }
}
@media screen and  (max-width: 1185px) {
    ul.toolbar.block_management_toolbar.docked_toolbar li.save_btn {
        clear: left;
    }
    html.e-has-topframe2 {
        padding-top: 92px;
    }
    html.e-has-sideframe.e-has-topframe2 {
        padding-top: 122px;
    }
    ul.toolbar li.separator {
        display: none;
    }
}
@media screen and  (max-width: 1000px) {
    html.e-has-topframe1 {
        padding-top: 61px;
    }
    html.e-has-topframe2 {
        padding-top: 122px;
    }
    html.e-has-sideframe.e-has-topframe2 {
        padding-top: 152px;
    }
    .e-sideframe,
    .e-has-topframe2 .e-sideframe {
        padding-top: 31px;
    }
    ul.toolbar li {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fafafa;
        min-height: 24px;
        height: 24px;
        margin: 2px !important;
        padding: 0 17px !important;
        line-height: 24px;
    }
    ul.toolbar.block_management_toolbar.docked_toolbar li {
        border: 0;
        background: none;
        min-height: 30px;
        height: 30px;
        margin: 0 !important;
        padding: 0 20px !important;
        line-height: 30px;
    }
}
@media screen and  (max-width: 980px) {
    html.e-has-topframe2 {
        padding-top: 152px;
    }
}
@media screen and  (max-width: 860px) {
    html.e-has-topframe2.e-has-sideframe {
        padding-top: 182px;
    }
}
/* в портретной ориентации ipad боковая панель становится на весь экран,
контент следует за ней внизу
 когда открывается панель управления блоками, боковая панель также скрывается */
@media screen and  (max-width: 768px) {
    .e-has-sideframe body {
        padding-left: 0;
    }
    .e-has-sideframe .e-sideframe {
        -webkit-box-shadow: 0 2px 3px #777;
        box-shadow: 0 2px 3px #777;
    }
    .e-has-sideframe .e-sideframe,
    .e-has-sideframe .e-sideframe-content {
        width: 100%;
        height: 100%;
    }
    .e-has-sideframe .e-mainframe {
        height: auto;
        position: relative;
        top: 100%;
    }
    .editMode_btn,
    .editBlocks_btn {
        display: none;
    }
    .e-sideframe {
        padding-top: 0;
    }
    html.e-has-topframe1 {
        padding-top: 31px;
    }
}
@media screen and  (max-width: 646px) {
    html.e-has-topframe1 {
        padding-top: 61px;
    }
    .e-sideframe {
        padding-top: 31px;
    }
}
@media screen and  (max-width: 370px) {
    html.e-has-topframe1 {
        padding-top: 91px;
    }
    .e-sideframe {
        padding-top: 61px;
    }
}

