/* ----- page list ----- */
.e-pagelist {
    min-height: 14px;
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    /*background: #eee url(../images/pagelist.gif) 4px center no-repeat !important;*/
    display: inline-block;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    line-height: normal;
}
.e-pagelist * {
    vertical-align: middle;
}
.e-pagelist > li {
    position: relative;
    float: left;
    padding: 6px 12px;
    list-style: none !important;
    line-height: 1.428571429;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0;
    margin-left: -1px;
    font-family: Tahoma, sans-serif;
}
.e-pagelist > li:first-child {
    border-radius: 4px 0 0 4px;
}
.e-pagelist > li:last-child {
    border-radius: 0 4px 4px 0;
}
.e-pagelist .highlighted {
    background: #ecf3f8 !important;
    cursor: pointer;
    cursor: hand;
}
.e-pagelist .current {
    background: #428bca !important;
    color: white;
    font-weight: bold;
    cursor: default;
}
.e-pagelist li input{	
	width: 50px;	
	margin-right: 10px;
	padding: 6px;
}
/* ----- /page list ----- */
