/* ----- common ----- */
html, body {
    height: 100%;            
    margin: 0;
    padding: 0;
    border: 0;
    background: white;
    font-size: 13px;
}
.e-singlemode-layout {
    overflow: hidden;
}
/* ----- /common ----- */

/* ----- grid form ----- */
.e-grid-form {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ----- /grid form ----- */
@media screen and (max-width: 680px){
    .e-singlemode-layout {
        margin: 0;
    }
}