@import url("controls.css");

ul.toolbar {
    margin: 10px 0 0 0 !important;
    padding: 8px !important;
    padding-left: 0 !important;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
	color:black;
}
/*.colset ul.toolbar,*/
ul.toolbar.toolbar_attachmentEditor {
    background: none;
}
ul.toolbar_siteEditor .separator {
    display: none;
}
ul.toolbar * {
    margin: 0;
    padding: 0;
}

ul.toolbar li {
    float: left;
    margin: 2px !important;
    padding: 6px 12px !important;
    list-style: none !important;
	clear: none;
	-khtml-user-select: none;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
    font-family: Tahoma, sans-serif;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}
ul.toolbar li:first-child {
    margin-left: 0 !important;
}

ul.toolbar li.icon {
    width: 16px;
    height: 16px;
    margin: 0 1px !important;
    padding: 2px !important;
    border: 0;
    background: center center no-repeat;
}

ul.toolbar li.separator {
    width: 2px;
    height: 19px;
    padding: 0 2px !important;
    border: 0;
    background: url(../images/toolbar/separator.gif) center center no-repeat;
}

ul.toolbar li.select {
    border: 0;
    background: none;
    padding: 0 !important;
    border: 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

ul.toolbar li.custom_select {    
    padding: 1px 2px !important;
    border: 0;
}
ul.toolbar .custom_select_box {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 18px;
    border: 1px solid gray;
    line-height: normal;
    vertical-align: middle;
}
ul.toolbar .custom_select_view {
    min-width: 120px;
    min-height: 13px;
    background: #fff;
    border-right: 1px solid gray;
    padding: 1px 2px;
    white-space: nowrap;
}
ul.toolbar .custom_select_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 100%;
    background: #f0f0f0 url(../images/asc.gif) 50% 60% no-repeat;
}
ul.toolbar .custom_select_dropbox {
    position: relative;
}
ul.toolbar .custom_select_options {
    position: absolute;
    left: -1px;
    top: 1px;
    z-index: 10;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: #fff;
    border: 1px solid gray;
    white-space: nowrap;
}
ul.toolbar .custom_select_option {
    padding: 4px 8px;
}
ul.toolbar .custom_select_option.selected {
    background: #e0e0e0;
}
ul.toolbar .custom_select_option:hover {
    background-color: #FF8;
}

ul.toolbar li.highlighted { background-color: #ebebeb; border-color: #adadad; }
ul.toolbar li.disabled {}

ul.toolbar .label {
    margin-right: 10px;
    margin-left: 10px;
}

ul.toolbar .text{
    color: #757177;
    padding-right:0px;
    padding-left:0px;
}

ul.toolbar li select{
	width:150px;
    padding: 6px;
    margin-right: 15px;
}

ul.toolbar li input[type="file"]{
    visibility:hidden;
    position:absolute;
    top:-50;
    left:-50;
}

/* -- button colors -- */
ul.toolbar.docked_toolbar li.edit_btn,
ul.toolbar.docked_toolbar li.add_btn,
ul.toolbar.docked_toolbar li.delete_btn {
    border-radius: 0;
}
ul.toolbar li.edit_btn,
ul.toolbar li.edit_btn.disabled:focus, ul.toolbar li.edit_btn.disabled:hover, ul.toolbar li.edit_btn.disabled:active {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
ul.toolbar li.edit_btn:focus, ul.toolbar li.edit_btn:hover, ul.toolbar li.edit_btn:active {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
ul.toolbar li.add_btn,
ul.toolbar li.add_btn.disabled:focus, ul.toolbar li.add_btn.disabled:hover, ul.toolbar li.add_btn.disabled:active {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
ul.toolbar li.add_btn:focus, ul.toolbar li.add_btn:hover, ul.toolbar li.add_btn:active {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
ul.toolbar li.delete_btn,
ul.toolbar li.delete_btn.disabled:focus, ul.toolbar li.delete_btn.disabled:hover, ul.toolbar li.delete_btn.disabled:active {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
ul.toolbar li.delete_btn:focus, ul.toolbar li.delete_btn:hover, ul.toolbar li.delete_btn:active {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}
ul.toolbar li.save_btn,
ul.toolbar li.save_btn.disabled:focus, ul.toolbar li.save_btn.disabled:hover, ul.toolbar li.save_btn.disabled:active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
ul.toolbar li.save_btn:focus, ul.toolbar li.save_btn:hover, ul.toolbar li.save_btn:active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
ul.e-divtree-toolbar.toolbar li.edit_btn,
ul.e-divtree-toolbar.toolbar li.edit_btn:focus, ul.e-divtree-toolbar.toolbar li.edit_btn:hover, ul.e-divtree-toolbar.toolbar li.edit_btn:active,
ul.e-divtree-toolbar.toolbar li.add_btn,
ul.e-divtree-toolbar.toolbar li.add_btn:focus, ul.e-divtree-toolbar.toolbar li.add_btn:hover, ul.e-divtree-toolbar.toolbar li.add_btn:active,
ul.e-divtree-toolbar.toolbar li.delete_btn,
ul.e-divtree-toolbar.toolbar li.delete_btn:focus, ul.e-divtree-toolbar.toolbar li.delete_btn:hover, ul.e-divtree-toolbar.toolbar li.delete_btn:active,
ul.e-divtree-toolbar.toolbar li.save_btn,
ul.e-divtree-toolbar.toolbar li.save_btn:focus, ul.e-divtree-toolbar.toolbar li.save_btn:hover, ul.e-divtree-toolbar.toolbar li.save_btn:active,
ul.e-divtree-toolbar.toolbar li.up_btn,
ul.e-divtree-toolbar.toolbar li.up_btn:focus, ul.e-divtree-toolbar.toolbar li.up_btn:hover, ul.e-divtree-toolbar.toolbar li.up_btn:active,
ul.e-divtree-toolbar.toolbar li.down_btn,
ul.e-divtree-toolbar.toolbar li.down_btn:focus, ul.e-divtree-toolbar.toolbar li.down_btn:hover, ul.e-divtree-toolbar.toolbar li.down_btn:active,
.e-lm-widget ul.toolbar li.edit_btn,
.e-lm-widget ul.toolbar li.edit_btn:focus, .e-lm-widget ul.toolbar li.edit_btn:hover, .e-lm-widget ul.toolbar li.edit_btn:active,
.e-lm-widget ul.toolbar li.add_btn,
.e-lm-widget ul.toolbar li.add_btn:focus, .e-lm-widget ul.toolbar li.add_btn:hover, .e-lm-widget ul.toolbar li.add_btn:active,
.e-lm-widget ul.toolbar li.delete_btn,
.e-lm-widget ul.toolbar li.delete_btn:focus, .e-lm-widget ul.toolbar li.delete_btn:hover, .e-lm-widget ul.toolbar li.delete_btn:active,
.e-lm-widget ul.toolbar li.save_btn,
.e-lm-widget ul.toolbar li.save_btn:focus, .e-lm-widget ul.toolbar li.save_btn:hover, .e-lm-widget ul.toolbar li.save_btn:active,
.e-lm-widget ul.toolbar li.up_btn,
.e-lm-widget ul.toolbar li.up_btn:focus, .e-lm-widget ul.toolbar li.up_btn:hover, .e-lm-widget ul.toolbar li.up_btn:active,
.e-lm-widget ul.toolbar li.down_btn,
.e-lm-widget ul.toolbar li.down_btn:focus, .e-lm-widget ul.toolbar li.down_btn:hover, .e-lm-widget ul.toolbar li.down_btn:active,
.e-lm-dummy-widget ul.toolbar li.edit_btn,
.e-lm-dummy-widget ul.toolbar li.edit_btn:focus, .e-lm-dummy-widget ul.toolbar li.edit_btn:hover, .e-lm-dummy-widget ul.toolbar li.edit_btn:active,
.e-lm-dummy-widget ul.toolbar li.add_btn,
.e-lm-dummy-widget ul.toolbar li.add_btn:focus, .e-lm-dummy-widget ul.toolbar li.add_btn:hover, .e-lm-dummy-widget ul.toolbar li.add_btn:active,
.e-lm-dummy-widget ul.toolbar li.delete_btn,
.e-lm-dummy-widget ul.toolbar li.delete_btn:focus, .e-lm-dummy-widget ul.toolbar li.delete_btn:hover, .e-lm-dummy-widget ul.toolbar li.delete_btn:active,
.e-lm-dummy-widget ul.toolbar li.save_btn,
.e-lm-dummy-widget ul.toolbar li.save_btn:focus, .e-lm-dummy-widget ul.toolbar li.save_btn:hover, .e-lm-dummy-widget ul.toolbar li.save_btn:active,
.e-lm-dummy-widget ul.toolbar li.up_btn,
.e-lm-dummy-widget ul.toolbar li.up_btn:focus, .e-lm-dummy-widget ul.toolbar li.up_btn:hover, .e-lm-dummy-widget ul.toolbar li.up_btn:active,
.e-lm-dummy-widget ul.toolbar li.down_btn,
.e-lm-dummy-widget ul.toolbar li.down_btn:focus, .e-lm-dummy-widget ul.toolbar li.down_btn:hover, .e-lm-dummy-widget ul.toolbar li.down_btn:active,
ul.e-divtree-toolbar.toolbar li.edit_btn,
ul.e-divtree-toolbar.toolbar li.edit_btn:focus, ul.e-divtree-toolbar.toolbar li.edit_btn:hover, ul.e-divtree-toolbar.toolbar li.edit_btn:active,
ul.e-divtree-toolbar.toolbar li.add_btn,
ul.e-divtree-toolbar.toolbar li.add_btn:focus, ul.e-divtree-toolbar.toolbar li.add_btn:hover, ul.e-divtree-toolbar.toolbar li.add_btn:active,
ul.e-divtree-toolbar.toolbar li.delete_btn,
ul.e-divtree-toolbar.toolbar li.delete_btn:focus, ul.e-divtree-toolbar.toolbar li.delete_btn:hover, ul.e-divtree-toolbar.toolbar li.delete_btn:active {
    background-color: transparent;
}
ul.toolbar li.up_btn,
ul.toolbar li.down_btn {
    color: #fff;
    background-color: #43BDFE;
}

ul.toolbar li.up_btn:focus, ul.toolbar li.up_btn:hover, ul.toolbar li.up_btn:active,
ul.toolbar li.down_btn:focus, ul.toolbar li.down_btn:hover, ul.toolbar li.down_btn:active {
    color: #fff;
    background-color: #1DA6FB;
}
/* -- button colors -- */

/* --- media queries --- */
@media screen and  (max-width: 1100px) {

}