.treeview, .treeview ul { margin: 0; padding: 0; font: 12px/16px Tahoma, sans-serif; }
.treeview ul { margin-left: 3px; background: url(../images/treeview/v_line.gif) left top repeat-y; }
.treeview ul.hidden { display: none; }

.treeview li { margin: 10px 0; padding: 0 0 0 16px; list-style: none; }
.treeview li li { background: url(../images/treeview/h_line.gif) left 8px no-repeat; }

.treeview li.folder { background: url(../images/treeview/closed.gif) left 4px no-repeat; }
.treeview li.folder.opened { background: url(../images/treeview/opened.gif) left 4px no-repeat; }

.treeview li.last { background: #FFF url(../images/treeview/h_line_last.gif) left -7px no-repeat; }
.treeview li.folder.last { background: #FFF url(../images/treeview/closed_last.gif) left -3px no-repeat; }
.treeview li.folder.opened.last { background: #FFF url(../images/treeview/opened_last.gif) left -3px no-repeat; }

.treeview a { 
	padding: 2px;
	color: #000; 
	text-decoration: none;
    padding-left: 21px;
    font-family: Tahoma, sans-serif;
}

.treeview li a:hover, .treeview li.selected li a:hover { 
	background-color: #FF8; 
	color: #000; 
}

.treeview li.selected a, .treeview li.selected a:hover { 
	background-color: #3276b1;
	color: #FFF; 
}
.treeview li.selected a, .treeview li.selected a:hover { 
	background-color: #3276b1;
	color: #FFF; 
}
.treeview li.selected li a { 
	background-color: transparent; 
	color: #000; 
}