<div id="carouselID" class="carousel">
    <div class="carousel_viewbox">
        <div class="playlist_local">

        </div>
    </div>
    <a class="icon20x20 previous_control previous" href="#"><i></i></a>
    <a class="icon20x20 next_control next" href="#"><i></i></a>
</div>