<div class="menu">
    <ul class="menu_list">
        <li class="menu_item"></li>
        <li class="menu_item submenu">
            <ul class="menu_list">
                <li class="menu_item"></li>
            </ul>
        </li>
        <li class="menu_item"></li>
    </ul>
</div>