@charset "utf-8";
/*
Name: Carousel stylesheet
Description: Стили для "карусели" изображений.
Created: August 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- carousel ----- */

.carousel {
    margin: 0 auto;
}
.carousel .next_control, .carousel .previous_control {
    left: 0;    
    width: 14px;
    height: 20px;
    margin-top: -10px;
    outline: 0;
}
.carousel .next_control {
    left: -14px;
    margin-left: 100%;
}
.carousel .previous_control { 
	background-position: -32px -92px;
}
.carousel .next_control {
	background-position: -48px -92px;
}
.carousel .previous_control i {
    _top: -92px;
    _left: -32px;
}
.carousel .next_control i {   
    _top: -92px;
    _left: -48px;
}
.carousel_viewbox {
    height: 88px;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;    
}
.carousel_viewbox.big, .carousel_viewbox.big .item {
    height: 378px;
    width: 501px;
}
.carousel_viewbox.small, .carousel_viewbox.small .item {
    height: 70px;
    width: 98px;
}
.carousel_viewbox ul {
    padding: 0;
}
.carousel_viewbox ul li {
    top: 0;
    margin: 0;
    padding: 0 6px;
}
.carousel_viewbox.small ul li{
    width: 98px;
}
.carousel_viewbox.big ul li {
    width: 538px;
}
.item {
    padding: 3px;
}
.carousel .item .active {
    background: #fdd34e;
}
.item img {
    border: 1px solid #878787;
}
.item .play_icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -16px 0 0 -16px;
}
.carousel .viewbox a:link, .carousel .viewbox a:visited, .carousel .viewbox a:hover, .carousel .viewbox a:active {
    text-decoration: none;
	outline: 0;
}

.icon, .icon8x12, .icon12x12, .icon16x16, .icon20x20, .icon24x24, .icon32x32 {
    /*background: url("../images/common_icons.png") no-repeat scroll 100px 100px transparent;*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
/* ----- /carousel ----- */
